* {
    font-family: Ubuntu, sans-serif;
}
body {
    margin: 0;
    background-image: linear-gradient(45deg, #FFDEE9 0%, #B5FFFC 100%);
    background-repeat: no-repeat;
    height: 100vh;
}
.visible {
    display: none;
}
.gamefield p, .gamefield span {
    font-size: 2rem;
    margin: 0;
}
#rulesBtn {
    width: 200px;
    height: 60px;
}
h1, h2, .resultbox, .buttons {
    text-align: center;
}
.game > h1 {
    margin-top: 0;
    padding-top: 20px;
}
.game {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;
}
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(0 0 0 / 10%);
    padding: 15px 50px;
    box-shadow: 0px 0px 9px 4px #8C8C8C;
    border-radius: 10px;
}
#retry {
    width: 200px;
    font-size: 25px;
    height: 50px;
    transition: .5s;
    border-radius: 5px;
}
button {
    margin: 10px;
    width: 100px;
    font-size: 25px;
    height: 100px;
    transition: .5s;
    border-radius: 5px;
    border: none;
    background-size: contain;
    background-repeat: no-repeat;
    cursor: pointer;
}
button#rock {
    background-image: url(./img/rock.png);
}
button#paper {
    background-image: url(./img/paper.png);
}
button#scissors {
    background-image: url(./img/scissors.png);
}
button:hover {
    box-shadow: 0px 0px 4px 0px #000000;
}
button:active {
    box-shadow: inset 0px 0px 4px 0px #000000;
}
.score {
    font-size: 25px;
}
.scoretext {
    font-size: 25px;
}
.result {
    font-size: 30px;
}
div p {
    text-align: center;
}
#playerPlay,#computerPlay {
    height: 100px;
    width: 100px;
    font-size: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.gamefield {
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: center;
}
.rules {
    text-align: center;
}
/* Gamefield images */
.rock {
    background-image: url(./img/rock.png);
    height: 100px;
    width: 100px;
    background-size: contain;
    background-repeat: no-repeat;
}
.paper {
    background-image: url(./img/paper.png);
    height: 100px;
    width: 100px;
    background-size: contain;
    background-repeat: no-repeat;
}
.scissors {
    background-image: url(./img/scissors.png);
    height: 100px;
    width: 100px;
    background-size: contain;
    background-repeat: no-repeat;
}

/* The Modal (background) */
.modal {
    font-size: 1em;
    display: none; 
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgba(0,0,0,0.4);
  }
  
  /* Modal Content/Box */
  .modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    font-size: 1.5em;
    padding: 0;
    border: 1px solid #888;
    width: 50%;
    min-width: 300px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    animation-name: animatetop;
    animation-duration: .7s; 
    border-radius: 10px;
    top: 30%;
}
@keyframes animatetop {
    from {top: -300px; opacity: 0}
    to {top: 30%; opacity: 1}
  }
  
  /* The Close Button */
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    padding-right: 10px;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }

  @media screen and (max-width: 530px) {
    .gamefield {
        display: flex;
        flex-direction: column;
    }
    .rules {
        margin-bottom: 25px;
    }
    h1 {
        font-size: 1.5em;
    }
    .game {
        padding: 100px;
    }
    .container {
        padding: 15px 10px;
    }
    h2 {
        font-size: 1.07em;
    }
    .modal-content h2 {
        font-size: 1.5em;
    }
    .modal-content {
        width: 90%;
    }
    .modal-content p {
        font-size: 0.9em;
    }
    .buttons {
        display: flex;
        flex-direction: row;
    }
    .result {
        font-size: 25px;
    }
    button {
        height: 80px;
        width: 80px;
    }
}