* {
    font-family: Ubuntu, sans-serif;
}
.visible {
    display: none;
}
.game {
}
h1, h2, .resultbox, .buttons {
    text-align: center;
}
#retry {
    width: 200px;
    font-size: 25px;
    height: 50px;
    transition: .5s;
    border-radius: 5px;
}
button {
    margin: 10px;
    width: 100px;
    font-size: 25px;
    height: 100px;
    transition: .5s;
    border-radius: 5px;
    border: none;
    background-size: contain;
    background-repeat: no-repeat;
}
button#rock {
    background-image: url(./img/rock.png);
}
button#paper {
    background-image: url(./img/paper.png);
}
button#scissors {
    background-image: url(./img/scissors.png);
}
button:hover {
    box-shadow: 0px 0px 4px 0px #000000;
}
button:active {
    box-shadow: inset 0px 0px 4px 0px #000000;
}
.score {
    font-size: 25px;
}
.result {
    font-size: 30px;
}
div p {
    text-align: center;
}
#playerPlay,#computerPlay {
    height: 100px;
    width: 100px;
    font-size: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.gamefield {
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: center;
}
.rules {
    text-align: center;
}
/* Gamefield images */
.rock {
    background-image: url(./img/rock.png);
    height: 100px;
    width: 100px;
    background-size: contain;
    background-repeat: no-repeat;
}
.paper {
    background-image: url(./img/paper.png);
    height: 100px;
    width: 100px;
    background-size: contain;
    background-repeat: no-repeat;
}
.scissors {
    background-image: url(./img/scissors.png);
    height: 100px;
    width: 100px;
    background-size: contain;
    background-repeat: no-repeat;
}